html{
  overflow-x:hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(247, 246, 244);
  position: relative;
  height: auto;
}

/* middle section */
.back-image .about-image {
  object-position: center;
}

/* main about section */
.about {

  margin-bottom: 500px;
  width: 310px;
  margin: 10px 10px;
  position: relative;
}
.about img {
  position: absolute;
  top: 100px;
  left: 100px;
}

.about .linkedin {
  position: absolute;
  top: 151px;
  left: 116px;
}

.about a {
  text-decoration: none;
  color: #1e1e1e;
}
.about h3:hover {
  color: rgb(25, 45, 45);
}
.midde-section {
  width: 100%;
  margin: 0 auto;
}

.back-video {
  object-fit: fill;
  width: 100vw;
  height: 65vh;
}
