html{
  overflow-x:hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(247, 246, 244);
  position: relative;
  height: auto;
  color: rgb(21, 30, 30);
}

/* middle section */
.back-video {
  object-fit: fill;
  width: 100vw;
  height: 66vh;
}


/* main about section */
.about {

  margin-bottom: 500px;
  width: 310px;
  margin: 10px 10px;
  position: relative;
}
.about .github {
  position: absolute;
  top: 135px;
  left: 100px;
  width: 30px;
}

.about .linkedin {
  position: absolute;
  top: 185px;
  left: 116px;
  width: 30px;
}

.about a {
  text-decoration: none;
  color: rgb(21, 30, 30);
}
.about h3:hover {
  text-decoration: underline;
}
.about-midde-section {
  width: 100%;
  margin: 0 auto;
}

