@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* html and body section */
html{
  overflow-x:hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(247, 246, 244);
  position: relative;
  height: 800px;
  color: rgb(21, 30, 30);
  -webkit-tap-highlight-color: transparent;
}

/* middle section -------------------*/
.back-video {
  object-fit: fill;
  width: 100vw;
  height: 66vh;
}


/* main about section --------------*/
.about {
  margin-bottom: 500px;
  margin: 10px 10px;
  position: relative;
}
.about .social {
  display: flex;
  align-items: center;
}
.about img {
  width: 30px;
}
.about a {
  text-decoration: none;
  color: rgb(21, 30, 30);
}
.about h3:hover {
  text-decoration: underline;
}
.about-midde-section {
  width: 100%;
  margin: 0 auto;
}

