
footer {
  transition: font-weight 0.8s;
}
footer a{
  background-color: #343232;
  color: rgb(247, 246, 244);
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  width: 1fr;
  position: absolute;
  left: -10px;
  right: -10px;
  bottom: -500px;
  text-decoration: none;
  font-weight: 700;
}

footer a:hover {
  font-weight: 800;

}