@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


/* header container*//*-------------------------------------------------------------------------------------------/* header container*/
.header-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
  background-color: #343232;
  z-index: 300;
}

/* blog name css */
.blog-name a {
  text-decoration: none;
  color: rgb(50, 93, 93);
  font-weight: 900;
  font-size: 30px;
}

/* navigation container */
.header-nav-container a {
  text-decoration: none;
  color: #929191;
  font-weight: 900;
  font-size: 19px;
  margin: 0;
  margin-right: 50px;
}

.header-nav-container a:hover {
  color: #c7c7c7;
}
.header-nav-container a:active {
  text-decoration: underline;
}






/* footer section  *//*---------------------------------------------------------------------------------/* footer section  */
footer {
  transition: font-weight 0.8s;
}
footer a{
  background-color: #343232;
  color: rgb(247, 246, 244);
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  width: 1fr;
  position: absolute;
  left: -10px;
  right: -10px;
  bottom: -500px;
  text-decoration: none;
  font-weight: 700;
}

footer a:hover {
  font-weight: 800;

}


/* responsive secttion *//*----------------------------------------------------------------------*/  /* responsive secttion */


/* index responsive section */
html {
  scroll-behavior:smooth;
  overflow-x: hidden;
}
@media (max-width: 800px) {
  .header-container {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 170px;
    justify-content: center;
    align-items: start;
    padding: 5px 5px;
    z-index: 300;
    margin-bottom: 100px;
  }
  .space-header-container {
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    padding: 5px 5px;
    z-index: 300;
  }
  .space-header-container .back {
    margin-right: 20px;
  } 
  .header-nav-container {
    display: flex;
    position: absolute;
    bottom: 10px;
  }
  .header-nav-container a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: #878787;
    font-weight: 900;
    font-size: 17px;
    margin: 0 15px;
    padding: 11px;
  }
  .blog-name {
    position: absolute;
    top: 40px;
    margin-left: 25px;
  }
  html {
    scroll-behavior:smooth;
    overflow-x: hidden;
  }
  .main-content {
    width: 310px;
    margin-left: -10px;
  }
  .preview-container{
    max-width: 360px;
    font-size: 16px;
  }
  .main-content hr{
    max-width: 100%;
    margin: 3px 35px;
  }
  
}

/* about responsive section  */
@media (max-width: 800px) {
  .about-midde-section .back-video {
    object-fit: fill;
    width: 105vw;
    height: 50vh;
  }
}



@media (max-width: 800px) {

}

/* space pages section responsive  */
@media (max-width: 800px) {
  .content {
    font-size: 14px;
    
  }
  .content hr {
    max-width: 100%;
    margin: 20px 0px;
  }
  .content figcaption {
    
  }
  .content p {
    margin-top: 20px;
  }
  .content img {
    width: 300px;
    margin-left: -5px;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.111);
  }
  .content h1,
  .content h3,
  .content h2,
  .content h4 {
    max-width: 350px;
    width: 100%;
    margin: 0 0 0 -20px;
    padding: 0;
  }
  .content h3,
  .content h4  {
    font-weight: 400;
  }
  .content h2 {
    font-weight: 700;
  }
  .content h1 {
    font-weight: 800;
  }
  .space-container {
    max-width: 400px;
    padding-left: -10px;
    margin-top: 10px;
  }
  .space-container .space-post {
    margin-bottom: 0 0;
  }
  .space-middle-section {
    margin-top: 80px;
  }
  .space-middle-section .math-video {
    object-fit: fill;
    width: 100vw;
    height: 50vh;
  }
  
}
