@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
}
body {
  font-family: 'Poppins', sans-serif;
  position: relative;
  background-color: rgb(247, 246, 244);
  height: auto;
  overflow-x: hidden;
}

hr {
  margin: 70px 40px;
  width: 800px;
  border: 2px solid #5b5b5b;
}
main h1 {
  width: 250px;
  margin: 10px 40px;
  margin-top: 50px;
  font-size: 40px;
  padding: 0;
  font-weight: 900;
  text-decoration: underline;
}

main .main-content {
  margin-bottom: 300px;
}
