@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  position: relative;
  background-color: rgb(247, 246, 244);
  overflow: auto;
  height: auto;
}

hr {
  margin: 70px 40px;
  width: 800px;
  border: 2px solid #5b5b5b;
}
main h1 {
  width: 250px;
  margin: 10px 40px;
  margin-top: 50px;
  font-size: 40px;
  padding: 0;
  font-weight: 900;
  text-decoration: underline;
}
 footer {
  background-color: #343232;
  color: rgb(247, 246, 244);
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  width: 1fr;
  position: absolute;
  left: -10px;
  right: -10px;
  bottom: -250px;
  margin-top: 100px;
}

main .main-content {
  margin-bottom: 200px;
}
html,body{
  overflow-x: hidden;
}