html {
  scroll-behavior:smooth;
}
@media (max-width: 800px) {
  .header-container {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 170px;
    justify-content: center;
    align-items: start;
    padding: 5px 5px;
    z-index: 300;
    margin-bottom: 100px;
  }
  .space-header-container {
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    padding: 5px 5px;
    z-index: 300;
  }
  .space-header-container .back {
    margin-right: 20px;
  } 
  .header-nav-container {
    display: flex;
    position: absolute;
    bottom: 10px;
  }
  .header-nav-container a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: #878787;
    font-weight: 900;
    font-size: 17px;
    margin: 0 15px;
    padding: 11px;
  }
  .blog-name {
    position: absolute;
    top: 40px;
    margin-left: 25px;
  }
}
@media (max-width: 800px) {
  .main-content {
    width: 310px;
    margin-left: -10px;
  }
  .preview-container{
    width: 100%;
    font-size: 16px;
  }
  main hr{
    max-width: 100%;
    margin: 3px 35px;
  }
  .content hr {
    max-width: 100%;
    margin: 20px 0px;
  }
}

@media (max-width: 800px) {
  .content {
    font-size: 14px;
    
  }
  .content img {
    width: 360px;
  }
  .content h1,
  .content h3,
  .content h2,
  .content h4 {
    max-width: 370px;
    width: 100%;
    margin: 0 0 0 -10px;
    padding: 0;
  }
  .space-container {
    max-width: 420px;
    padding-left: 10px;
    margin-top: 10px;
  }
  .space-container .space-post {
    margin-bottom: 0 0;
  }
  .space-middle-section {
    margin-top: 80px;
  }
  .middle-section .back-video {
    object-fit: fill;
    width: 70vw;
    height: 70vh;
  }
  
}
