html{
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(247, 246, 244);
  position: relative;
  height: auto;
}

main .content {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 800px;
  margin: 10px 30px;
  padding-top: 100px;
}
.content h1,
.content h3,
.content h2 {
  padding: 10px 1px;
  width: 100%;
  height: 1fr;
  text-decoration: none;
}
.content h1:hover {
  color: rgb(12, 47, 47);
}
footer {
  background-color: #343232;
  color: rgb(247, 246, 244);
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  width: 1fr;
  position: absolute;
  left: -10px;
  right: -10px;
  bottom: 1fr;
  margin-top: 100px;
}
hr {
  margin: 20px 0px;
  width: 800px;
  border: 2px solid #5b5b5b;
}

main .content {
  margin-bottom: 300px;
}