@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #312e2e;
  color: rgb(236, 236, 220);
  position: relative;
  height: auto;
  overflow-x: hidden;
  line-height: 35px;
  font: 16px;
}

header .space-header-container {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 300;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  font-weight: 800;
  background-color: #1c1c1c;
}
.space-header-container .back {
  margin-right: 40px;
} 
.space-header-container a {
  text-decoration: none;
  color: rgb(47, 89, 89);
  margin-left: 20px;
  font-weight: 900;
  font-size: 20px;
}
main .content {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin: 10px 30px;
  padding-top: 100px;
}
.content h1,
.content h3,
.content h2 {
  padding: 10px 1px;
  text-decoration: none;
  font-weight: 500;
}
.content h1 hr {
  margin: 20px 0px;
  width: 100%;
  border: 2px solid rgb(54, 100, 100);
}
hr {
  margin: 20px 0px;
  width: 800px;
  border: 1px solid rgb(170, 188, 188);
}

main .content {
  margin-bottom: 300px;
}
.content img {
  width: 400px;
  background-color: #fff;
  border-radius: 3px;

}
.content p {
  margin-top: 25px;
}
.content figcaption {
  font-size: 10px;
  color: #e0e0e0;
  line-height: 15px;
}
.content h2 {
  font-weight: 700;
}
.content h1 {
  font-weight: 800;
}

.content-table-wrapper div {
  margin-bottom: 10px;
}
.content-table-wrapper {
  margin: 0 0 40px -20px;
  background-color: rgb(45, 44, 44);
  color: rgb(236, 236, 220);
  font-weight: 700;
  padding: 10px 5px;
  padding-left: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(91, 91, 91, 0.166);
  line-height: 18px;
  margin-bottom: 30px;
  max-width: 700px;
}
.content-table-wrapper div:hover {
  cursor: pointer;
  background-color: rgb(47, 89, 89);
  border-radius: 7px;
  padding: 3px 7px;
}
.content-table-wrapper .sub {
  padding-left: 25px;
}
.content-table-wrapper a {
  text-decoration: none;
  color: rgb(236, 236, 220);
}

footer {
  display: flex;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #e0e0e0;
  color: #1c1c1c;
  padding: 0px 15px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 25px;
}

/* responsive------------------------- */

@media (max-width: 600px) {
  footer {
    display: flex;
    position: fixed;
    right: 30px;
    bottom: 20px;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 10px rgba(91, 91, 91, 0.166);
    color:  #e0e0e0;
    padding: 0px 15px;
    border-radius: 20px;
    font-weight: 800;
    font-size:16px;
  }  
}