@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html{
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(247, 246, 244);
  position: relative;
  height: auto;
  overflow-x: hidden;
}

header .space-header-container {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 300;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  font-weight: 800;
  background-color: #333;
}
.space-header-container .back {
  margin-right: 20px;
} 
.space-header-container a {
  text-decoration: none;
  color: rgb(117, 156, 156);
  margin-left: 20px;
  font-weight: 900;
  font-size: 20px;
}
main .content {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 800px;
  margin: 10px 30px;
  padding-top: 100px;
}
.content h1,
.content h3,
.content h2 {
  padding: 10px 1px;
  width: 100%;
  height: 1fr;
  text-decoration: none;
}
.content h1 hr {
  margin: 20px 0px;
  width: 800px;
  border: 2px solid rgb(29, 61, 61);
}
hr {
  margin: 20px 0px;
  width: 800px;
  border: 1px solid rgb(202, 202, 202);
}

main .content {
  margin-bottom: 300px;
}
