@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html {
  overflow-x: hidden;
}
body {
  -webkit-tap-highlight-color: transparent;
}
/* background image ----------------------------*/
.back-image{
  display: flex;
  max-width: 100%;
  height: 400px;
  background-attachment:fixed;
  
}
.back-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:top;
  image-rendering:pixelated;
}

/* main section start here------------------------------------------- */
.preview-container {
  margin: 10px 30px;
  cursor: pointer;
}
.preview-container .recent-post {
  max-width: 800px;
  width: 100%;
}
.preview-container p {
  padding: 5px 5px;
  width: 1fr;
}

.preview-container .topic {
  font-size: 35px;
  font-weight: 700;

}
.preview-container .content {
  font-size: 27px;
  font-weight: 400;
}
.preview-container .author {
  font-size: 20px;
}

.preview-container .recent-post a:hover {
  text-decoration: underline;
}

.main-content a{
  text-decoration: none;
} 

.preview-container .recent-post a {
  text-decoration: none;
  color: #161616;
}
.main-content h1 {
  color: rgb(75, 87, 87);
  margin-left: 28px;
}
