@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* header container  */
.header-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
  background-color: #343232;
}
@media (max-width: 799px) {
  .header-container {
    flex-direction: column;
    height: 110px;
    justify-content: center;
    align-items: center;
  }
  .header-nav-container {
    width: 600x;
    font-size: 16px;
    margin: 20px;
  }
  .blog-name {
    margin-left: 0;
  }
}

/* blog name css */
.blog-name a {
  text-decoration: none;
  color: #e3e3e3;
  font-weight: 700;
  font-size: 25px;
}

/* navigation container */
.header-nav-container a {
  text-decoration: none;
  color: #e3e3e3;;
  font-weight: 500;
  font-size: 20px;
  padding: 0 10px;

}

.header-nav-container a:hover {
  color: #c7c7c7;
}
.header-nav-container a:active {
  text-decoration: underline;
}


/* background image */
.back-image{
  display: flex;
  max-width: 100%;
  height: 400px;
  background-attachment:fixed;
  
}
.back-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:top;
  image-rendering:pixelated;
}

/* main section start here */
.preview-container {
  margin: 70px 70px;
  width: 800px;

}
.preview-container p {
  padding: 5px 5px;
  width: 1fr;
}

.preview-container .topic {
  font-size: 35px;
  font-weight: 900;

}
.preview-container .content {
  font-size: 27px;
  font-weight: 400;
}
.preview-container .author {
  font-size: 20px;
}

.preview-container .post:hover {
  color: rgb(0, 58, 106);
}

@media (max-width: 799px) {
  .preview-container {
    max-width: 300px;
    font-size: 16px;
  }
}